.AdminPanel img{
    width: 100px;
    height: 100px;
    
}
.AdminPanel {
    background-color: #f5f5f5be;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.AdminPanel h2 {
    text-align: center;
    text-decoration: underline;
    overflow: auto;
}
.AdminPanel TableHead{
    background-color: #f5f5f5b0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    
}
.AdminPanel TableHead TableRow{
    text-align: match-parent;
    text-decoration: underline;
    overflow: auto;
    position: fixed;
    ;
}
.AdminPanel .Description {
    font-size: 20px;
    width: 200px;
    height: 100px;
    overflow: auto;
  }
.AdminPanel .Destination {
    font-size: 20px;
    width: 150px;
    height: 100px;
    overflow: auto;
  }

 